<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ana_ver_hash</key>
	<string>2.3.25(12481)</string>
	<key>last_st_time</key>
	<string>2019-06-29</string>
	<key>user_info_uploaed_day</key>
	<string>2019-06-30</string>
</dict>
</plist>
